name: tests

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  Dry_Run_and_Lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker://snakemake/snakemake:v5.24.2
    - name: Dry Run paired-end cell-free ChIP-seq pipeline, all options (with replicates, with inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay cfChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S2_R1.fastq.gz /opt2/.tests/WT_S2_R2.fastq.gz \
        /opt2/.tests/WT_S3_1.fastq.gz /opt2/.tests/WT_S3_2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        /opt2/.tests/Input_S1.R1.fastq.gz /opt2/.tests/Input_S1.R2.fastq.gz \
        /opt2/.tests/Input_S2_R1.fastq.gz /opt2/.tests/Input_S2_R2.fastq.gz \
        /opt2/.tests/Input_S3_1.fastq.gz /opt2/.tests/Input_S3_2.fastq.gz \
        /opt2/.tests/Input_S4_R1.001.fastq.gz /opt2/.tests/Input_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_with_replicates_with_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end cfChIP pipeline config file (with replicates, with inputs)
      run: |
        echo "Generated config file for cfChIP pipeline (with replicates, with inputs)...." && cat $PWD/output/config.json
    - name: Dry Run paired-end cell-free ChIP-seq pipeline, all options (without replicates, with inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay cfChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        /opt2/.tests/Input_S1.R1.fastq.gz /opt2/.tests/Input_S1.R2.fastq.gz \
        /opt2/.tests/Input_S4_R1.001.fastq.gz /opt2/.tests/Input_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_no_replicates_with_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end cfChIP pipeline config file (without replicates, with inputs)
      run: |
        echo "Generated config file for cfChIP pipeline (without replicates, with inputs)...." && cat $PWD/output/config.json
    - name: Dry Run paired-end ChIP-seq pipeline, all options (with replicates, with inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S2_R1.fastq.gz /opt2/.tests/WT_S2_R2.fastq.gz \
        /opt2/.tests/WT_S3_1.fastq.gz /opt2/.tests/WT_S3_2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        /opt2/.tests/Input_S1.R1.fastq.gz /opt2/.tests/Input_S1.R2.fastq.gz \
        /opt2/.tests/Input_S2_R1.fastq.gz /opt2/.tests/Input_S2_R2.fastq.gz \
        /opt2/.tests/Input_S3_1.fastq.gz /opt2/.tests/Input_S3_2.fastq.gz \
        /opt2/.tests/Input_S4_R1.001.fastq.gz /opt2/.tests/Input_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_with_replicates_with_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end ChIP pipeline config file (with replicates, with inputs)
      run: |
        echo "Generated config file for ChIP pipeline (with replicates, with inputs)...." && cat $PWD/output/config.json
    - name: Dry Run paired-end ChIP-seq pipeline, all options (with replicates, without inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S2_R1.fastq.gz /opt2/.tests/WT_S2_R2.fastq.gz \
        /opt2/.tests/WT_S3_1.fastq.gz /opt2/.tests/WT_S3_2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_with_replicates_no_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end ChIP pipeline config file (with replicates, without inputs)
      run: |
        echo "Generated config file for ChIP pipeline (with replicates, without inputs)...." && cat $PWD/output/config.json
    - name: Dry Run paired-end ChIP-seq pipeline, all options (without replicates, with inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        /opt2/.tests/Input_S1.R1.fastq.gz /opt2/.tests/Input_S1.R2.fastq.gz \
        /opt2/.tests/Input_S4_R1.001.fastq.gz /opt2/.tests/Input_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_no_replicates_with_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end ChIP pipeline config file (without replicates, with inputs)
      run: |
        echo "Generated config file for ChIP pipeline (without replicates, with inputs)...." && cat $PWD/output/config.json
    - name: Dry Run paired-end ChIP-seq pipeline, all options (without replicates, without inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_no_replicates_no_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end ChIP pipeline config file (without replicates, without inputs)
      run: |
        echo "Generated config file for ChIP pipeline (without replicates, without inputs)...." && cat $PWD/output/config.json
    - name: Dry Run single-end ChIP-seq pipeline, all options (with replicates, with inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz \
        /opt2/.tests/WT_S2_R1.fastq.gz \
        /opt2/.tests/WT_S3_1.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz \
        /opt2/.tests/Input_S1.R1.fastq.gz \
        /opt2/.tests/Input_S2_R1.fastq.gz \
        /opt2/.tests/Input_S3_1.fastq.gz \
        /opt2/.tests/Input_S4_R1.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_with_replicates_with_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the single-end ChIP pipeline config file (with replicates, with inputs)
      run: |
        echo "Generated config file for ChIP pipeline (with replicates, with inputs)...." && cat $PWD/output/config.json
    - name: Dry Run single-end ChIP-seq pipeline, all options (with replicates, without inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz \
        /opt2/.tests/WT_S2_R1.fastq.gz \
        /opt2/.tests/WT_S3_1.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_with_replicates_no_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: Dry Run single-end ChIP-seq pipeline, with replicates, missing input column
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz \
        /opt2/.tests/WT_S2_R1.fastq.gz \
        /opt2/.tests/WT_S3_1.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_with_replicates_no_inputs_missing_InputControl.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the single-end ChIP pipeline config file (with replicates, without inputs)
      run: |
        echo "Generated config file for ChIP pipeline (with replicates, without inputs)...." && cat $PWD/output/config.json
    - name: Dry Run single-end ChIP-seq pipeline, all options (without replicates, with inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz \
        /opt2/.tests/Input_S1.R1.fastq.gz \
        /opt2/.tests/Input_S4_R1.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_no_replicates_with_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the single-end ChIP pipeline config file (without replicates, with inputs)
      run: |
        echo "Generated config file for ChIP pipeline (without replicates, with inputs)...." && cat $PWD/output/config.json
    - name: Dry Run single-end ChIP-seq pipeline, all options (without replicates, without inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ChIP --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_no_replicates_no_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the single-end ChIP pipeline config file (without replicates, without inputs)
      run: |
        echo "Generated config file for ChIP pipeline (without replicates, without inputs)...." && cat $PWD/output/config.json
    - name: Dry Run paired-end ATAC-seq pipeline, all options (with replicates, without inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ATAC --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S2_R1.fastq.gz /opt2/.tests/WT_S2_R2.fastq.gz \
        /opt2/.tests/WT_S3_1.fastq.gz /opt2/.tests/WT_S3_2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_with_replicates_no_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end ATAC pipeline config file (with replicates, without inputs)
      run: |
        echo "Generated config file for ATAC pipeline (with replicates, without inputs)...." && cat $PWD/output/config.json
    - name: Dry Run paired-end ATAC-seq pipeline, all options (without replicates, without inputs)
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 \
        /opt2/chrom-seek run --assay ATAC --genome hg19  --input \
        /opt2/.tests/WT_S1.R1.fastq.gz /opt2/.tests/WT_S1.R2.fastq.gz \
        /opt2/.tests/WT_S4_R1.001.fastq.gz /opt2/.tests/WT_S4_R2.001.fastq.gz \
        --output /opt2/output --peakcall /opt2/.tests/peakcall_no_replicates_no_inputs.tsv \
        --contrasts /opt2/.tests/contrasts.tsv --mode local --dry-run
    - name: View the paired-end ATAC pipeline config file (without replicates, without inputs)
      run: |
        echo "Generated config file for ATAC pipeline (without replicates, without inputs)...." && cat $PWD/output/config.json
    - name: Lint Workflow
      continue-on-error: true
      run: |
        docker run -v $PWD:/opt2 snakemake/snakemake:v5.24.2 snakemake --lint -s /opt2/output/workflow/Snakefile -d /opt2/output || \
        echo 'There may have been a few warnings or errors. Please read through the log to determine if its harmless.'
  unit_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Run unit tests
        run: python -m unittest discover tests